absl-py==1.2.0
accelerate==0.18.0
addict==2.4.0
aiohttp==3.8.1
aiosignal==1.2.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
astor==0.8.1
asttokens==2.0.8
async-timeout==4.0.2
attrdict==2.0.1
attrs==22.1.0
audioread==3.0.0
Babel==2.10.3
backcall==0.2.0
bce-python-sdk==0.8.74
blis==0.7.8
brotlipy==0.7.0
cachetools==5.2.0
catalogue==2.0.8
certifi @ file:///croot/certifi_1665076670883/work/certifi
cffi @ file:///tmp/abs_98z5h56wf8/croots/recipe/cffi_1659598650955/work
charset-normalizer==2.1.1
click==8.1.3
clip @ git+https://github.com/openai/CLIP.git@d50d76daa670286dd6cacf3bcd80b5e4823fc8e1
colorama==0.4.6
colorlog==6.7.0
contextlib2==21.6.0
contourpy==1.0.5
cryptography @ file:///tmp/build/80754af9/cryptography_1652083738073/work
cssselect==1.1.0
cssutils==2.6.0
cycler==0.11.0
cymem==2.0.6
Cython==0.29.32
dataclasses==0.6
datasets==2.0.0
debugpy==1.6.3
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
dgl==1.0.1
diffusers==0.12.1
dill==0.3.5.1
docker-pycreds==0.4.0
docopt==0.6.2
easydict==1.10
easyocr==1.6.2
einops==0.6.1
emoji==0.6.0
en-core-web-sm @ file:///home/huangshijue/PLM/en_core_web_sm-3.0.0.tar.gz
entrypoints==0.4
et-xmlfile==1.1.0
evaluate==0.4.0
execnet==1.9.0
executing==0.10.0
fairseq==0.10.1
filelock==3.8.0
fitlog==0.9.15
Flask==2.2.2
Flask-Babel==2.0.0
fonttools==4.37.3
frozenlist==1.3.1
fsspec==2022.7.1
ftfy==6.1.1
future==0.18.2
gast==0.3.3
gensim==4.2.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.11.0
google-auth-oauthlib==0.4.6
grpcio==1.47.0
huggingface-hub==0.13.4
hydra-core==1.3.2
HyperPyYAML==1.2.0
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
imageio==2.22.0
imageio-ffmpeg==0.4.8
imgaug==0.4.0
importlib-metadata==4.12.0
importlib-resources==5.12.0
iniconfig==1.1.1
install==1.3.5
ipykernel==6.15.1
ipython==8.4.0
itsdangerous==2.1.2
jarowinkler==1.2.2
jedi==0.18.1
jiagu==0.2.3
jieba==0.42.1
Jinja2==3.1.2
joblib==1.1.0
jsonlines==3.1.0
jupyter-core==4.11.1
jupyter_client==7.3.5
kiwisolver==1.4.4
langcodes==3.3.0
librosa==0.9.1
llvmlite==0.39.1
lmdb==1.3.0
loguru==0.6.0
lxml==4.9.1
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
mmcv==1.6.1
mmdet==2.25.1
mock==4.0.3
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.2
multiprocess==0.70.13
murmurhash==1.0.8
nest-asyncio==1.5.5
networkx==2.8.6
ninja==1.10.2.3
nltk==3.7
numba==0.56.4
numpy @ file:///tmp/abs_653_j00fmm/croots/recipe/numpy_and_numpy_base_1659432701727/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.2.140
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
omegaconf==2.3.0
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.5.4.60
openpyxl==3.0.10
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
ordered-set==4.1.0
packaging==21.3
paddle-bfloat==0.1.7
paddleocr==2.6.0.1
paddlepaddle==2.3.2
paddlepaddle-gpu @ file:///package/paddlepaddle_gpu-2.3.2-cp38-cp38-linux_x86_64.whl
pandas==1.4.2
parso==0.8.3
path==16.5.0
path.py==12.5.0
pathtools==0.1.2
pathy==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
plac==1.1.3
platformdirs==3.2.0
pluggy==1.0.0
pooch==1.7.0
portalocker==2.7.0
premailer==3.10.0
preshed==3.0.7
proglog==0.1.10
progressbar==2.5
promise==2.3
prompt-toolkit==3.0.30
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper==1.3.0.post3
pycocotools==2.0.6
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.15.0
pydantic==1.7.4
Pygments==2.13.0
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
pytest==7.1.2
pytest-shutil==1.7.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-docx==0.8.11
pytorch-crf==0.7.2
pytorch-lightning==1.2.5
pytorch-pretrained-vit==0.0.7
pytz==2022.2.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==23.2.1
rapidfuzz==2.10.1
regex==2022.8.17
requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
requests-oauthlib==1.3.1
resampy==0.4.2
responses==0.18.0
rich==13.5.3
rouge==1.0.1
rouge-score==0.1.2
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
sacrebleu==2.3.1
sacremoses==0.0.53
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.8.1
sentence-transformers==2.2.2
sentencepiece==0.1.96
sentry-sdk==1.9.8
setproctitle==1.3.2
Shapely==1.8.4
shortuuid==1.0.9
simplediff==1.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
soundfile==0.12.1
spacy==3.0.0
spacy-legacy==3.0.10
spacy-loggers==1.0.3
speechbrain==0.5.14
srsly==2.4.4
stack-data==0.4.0
sympy==1.12
synonyms==3.18.0
tabulate==0.8.10
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
termcolor==2.0.1
terminaltables==3.1.10
text2vec==1.1.6
thinc==8.0.17
threadpoolctl==3.1.0
tifffile==2022.8.12
timm==0.6.7
tokenizers==0.12.1
tomli==2.0.1
torch==1.11.0
torchaudio==0.11.0
TorchCRF==1.1.0
torchdata==0.7.0
torchmetrics==0.9.3
torchtext==0.16.0
torchvision==0.12.0
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
transformers==4.25.1
triton==2.1.0
typer==0.3.2
typing_extensions @ file:///tmp/abs_ben9emwtky/croots/recipe/typing_extensions_1659638822008/work
urllib3==1.26.12
visualdl==2.4.1
wandb==0.14.1
wasabi==0.10.1
wcwidth==0.2.5
wenetruntime==1.13.0
Werkzeug==2.2.2
xxhash==3.0.0
yapf==0.32.0
yarl==1.8.1
zipp==3.8.1
